.otherNews-container{
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 2rem;
}

.otherNews-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.otherNews-item-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px
}

.otherNews-item{
    height: 260px;
}

.otherNews-item img{
    width: 290px;
    height: 170px;
    border-radius: 10px;
}

.otherNews-item img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.otherNews-item h2{
    font-weight: 600;
    font-size: 16px;
    width: 290px;
    cursor: pointer;
}

.otherNews-item h2:hover{
    text-decoration: underline;
}


/*Right*/
.otherNews-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 55%
}

.otherNews-right .otherNews-item2 ul{
    display: flex;
    flex-direction: column;
}

.otherNews-right .otherNews-item2 li{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.otherNews-right .otherNews-item2 p{
    font-weight: bold;
}

.otherNews-right .otherNews-item2 .items-content{
    font-weight: 500;
    cursor: pointer;
}

.otherNews-right .otherNews-item2 .items-content:hover {
    text-decoration: underline;
}