.otherNews-container{
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 2rem;
    overflow: hidden;
}

.otherNews-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.otherNews-item-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px
}

.otherNews-item{
    height: 260px;
}

.otherNews-item img{
    width: 290px;
    height: 170px;
    border-radius: 10px;
}

.otherNews-item img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.otherNews-item h2{
    font-weight: 600;
    font-size: 16px;
    width: 290px;
    cursor: pointer;
}

.otherNews-item h2:hover{
    text-decoration: underline;
}


/*Right*/
.otherNews-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 55%
}

.otherNews-right .otherNews-item2 ul{
    display: flex;
    flex-direction: column;
}

.otherNews-right .otherNews-item2 li{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.otherNews-right .otherNews-item2 p{
    font-weight: bold;
}

.otherNews-right .otherNews-item2 .items-content{
    font-weight: 500;
    cursor: pointer;
}

.otherNews-right .otherNews-item2 .items-content:hover {
    text-decoration: underline;
}

@media (max-width: 810px) {
    .otherNews-container{
        padding: 2.5rem 2rem;
        gap: 2rem;
    }

    .otherNews-left{
        gap: 10px;
        width: 70%;
    }

    .otherNews-item-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px
    }

    .otherNews-item{
        height: 230px;
    }

    .otherNews-item img{
        width: 180px;
        height: 130px;
        border-radius: 8px;
    }

    .otherNews-item h2{
        font-weight: 500;
        font-size: 14px;
        width: 200px;
    }

    .otherNews-item h2:hover{
        text-decoration: underline;
    }


    /*Right*/
    .otherNews-right{
        gap: 15px;
        width: 55%
    }

    .otherNews-right .otherNews-item2 li{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .otherNews-right .otherNews-item2 p{
        font-weight: bold;
    }

    .otherNews-right .otherNews-item2 .items-content{
        font-weight: 400;
        cursor: pointer;
        font-size: 15px;
    }
}

@media (max-width: 640px) {
    .otherNews-container{
        display: flex;
        flex-direction: column;
        padding: 2.5rem 1.5rem;
        gap: 2rem;
    }

    .otherNews-item-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 25px;
    }

    .otherNews-item{
        height: 210px;
    }

    .otherNews-item img{
        width: 170px;
        height: 100px;
        border-radius: 10px;
    }

    .otherNews-item h2 {
        font-weight: 500;
        font-size: 14px;
        width: 150px;
    }
    /*Right*/
    .otherNews-right{
        gap: 15px;
        width: 100%;
    }

    .otherNews-right .otherNews-item2 li{
        gap: 10px;
    }

    .otherNews-right .otherNews-item2 p{
        font-weight: bold;
    }

    .otherNews-right .otherNews-item2 .items-content{
        font-weight: 400;
    }
}

@media (max-width: 400px) {
    .otherNews-container{
        display: flex;
        flex-direction: column;
        padding: 2.5rem 1.5rem;
        gap: 2rem;
    }

    .otherNews-item-content {
        gap: 20px;
    }

    .otherNews-item{
        height: 210px;
    }

    .otherNews-item img{
        width: 155px;
    }
}

@media (max-width: 360px) {
    .otherNews-container{
        display: flex;
        flex-direction: column;
        padding: 2.5rem 1rem;
        gap: 2rem;
    }

    .otherNews-item-content {
        gap: 15px;
    }

    .otherNews-item{
        height: 210px;
    }

    .otherNews-item img{
        width: 155px;

    }
}